TENANT_ID = ......................................
CLIENT_ID = ......................................
CLIENT_SECRET = ......................................

GRAPH_SCOPE=https://graph.microsoft.com/.default
GRAPH_URL=https://graph.microsoft.com/v1.0
M365_BACKUP_OUTPUT_ROOT=./output/backups